body > p:first-child {color: red;}
body > :nth-child(2):focus {color: blue;}
body > :nth-child(2):hover {color: red;}
body > :nth-child(2):active {color: green;}
.a.c{color: red;}
.a.c > span > span {color: green;}
.a.c > span > span:last-child {color: blue;}
a:link {color: pink;}
a:visited {color: orange;}
a[href^="mailto:" i] {color: blue;}
a[href^="tel:" i] {color: yellow;}
a[href$=".pdf" i] {font-size: 30px;}
div.a ul li:nth-child(n+4):nth-child(-n+7) {color: red;}
div.b ul li:nth-child(-n+25) {color: red;}
div.b ul li:nth-child(n+65) {color: green;}
div.b ul li:nth-child(n+35):nth-child(-n+50) {color: blue;}
.prime li:nth-child(2n+4) {color: blue;}
.prime li:nth-child(3n+9) {color: blue;}
.prime li:nth-child(5n+25) {color: blue;}
.prime li:nth-child(7n+49) {color: blue;}






